<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717492644043-vooqnr0mvtnd7l9u3ff3mhjbem714np2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717492644043-vooqnr0mvtnd7l9u3ff3mhjbem714np2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717492644043-94enf190apag45ltpu6o787q9no6jl7g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFRiCFTFuoUczkEJQVSFsvroPlYejHzbw</string>
	<key>GCM_SENDER_ID</key>
	<string>717492644043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chathura.Bodima</string>
	<key>PROJECT_ID</key>
	<string>eat-more-app-9d245</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-more-app-9d245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717492644043:ios:eae6b6abef9011a718534e</string>
</dict>
</plist>